<div class="container">
    <h1>{{vm.texto}}</h1>    
    <div class="mb-3">
      <label for="nome" class="form-label">Cadastro Cliente:</label>
      <input type="text" class="form-control" id="nome" ng-model="vm.cliente.nome" placeholder="Insira seu nome">
    </div>
    <div class="mb-3">
      <label for="rg" class="form-label">Registro Geral:</label>
      <input type="text" class="form-control" id="rg" ng-model="vm.cliente.rg" placeholder="Insira seu RG">
    </div>
    </div>
    <button type="button" id="btn btn-primary" ng-click="vm.cadastrar()" class="btn btn-dark">{{vm.textoBotao}}</button>
    <button type="button" id="btn btn-primary" ng-click="vm.limpar()" class="btn btn-dark">Limpar</button>